@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Inter', sans-serif !important;

}

body {
  overflow-x: hidden;
}
:root {
  font-family: 'Inter', sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hero-text {
  background-image:linear-gradient(14deg, #45C4F9 0%, navy 50%, #d30cbf 100%);
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  max-width: 11ch;
  line-height: 5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}
.hero-button {
  background-image:linear-gradient(14deg, #45C4F9 0%, #7D09FF 50%, #FF0BE5 100%);
  font-weight: 600;
  font-size: 23px;
  padding: 16px 72px;
  border-radius: 10px;
  margin-top: 1rem;
}
.about-header {
  background-image:linear-gradient(263deg, #FA12E3 2%, #7612FA 54%, #12D0FA 100%);
  max-width: 10ch;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.improve-collab {
  background-image: linear-gradient(258deg, #FA12E3 2%, #7612FA 54%, #12D0FA 100%);
  font-size: 40px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.about-image-1 {
  height: 550px;
  width: 900px;
 
}

.companies-bg {
  background-image: url('./assets/companies-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.bring-team-container {
  position: relative;
  width: 100%;
  /* border: 2px solid red; */
  height: 600px;
  /* overflow-x: hidden; */
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 900px;
  background-image: url('../src/assets/bring-team.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 5;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../src/assets/bring-teams-bg.png');
  background-repeat: repeat-x;

}

/* Additional styles for your content */



