@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Inter', sans-serif !important;

}

body {
  overflow-x: hidden;
}
:root {
  font-family: 'Inter', sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hero-text {
  background-image:linear-gradient(14deg, #45C4F9 0%, navy 50%, #d30cbf 100%);
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  max-width: 11ch;
  line-height: 5rem;
  -webkit-background-clip: text;
  color: transparent;

}
.hero-button {
  background-image:linear-gradient(14deg, #45C4F9 0%, #7D09FF 50%, #FF0BE5 100%);
  font-weight: 600;
  font-size: 23px;
  padding: 16px 72px;
  border-radius: 10px;
  /* margin-top: 1rem; */
}
.about-header {
  background-image:linear-gradient(263deg, #FA12E3 2%, #7612FA 54%, #12D0FA 100%);
  max-width: 10ch;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  -webkit-background-clip: text;
  color: transparent;
}

.improve-collab {
  background-image: linear-gradient(258deg, #FA12E3 2%, #7612FA 54%, #12D0FA 100%);
  font-size: 40px;
  font-weight: 900;
  -webkit-background-clip: text;
  color: transparent;
}

.about-image {
 
}


