@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Inter', sans-serif !important;

}

body {
  overflow-x: hidden;
}
:root {
  font-family: 'Inter', sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hero-text {
  background-image:linear-gradient(14deg, #45C4F9 0%, navy 50%, #d30cbf 100%);
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  max-width: 11ch;
  line-height: 5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}
.hero-button {
  background-image:linear-gradient(14deg, #45C4F9 0%, #7D09FF 50%, #FF0BE5 100%);
  font-weight: 600;
  font-size: 23px;
  padding: 16px 72px;
  border-radius: 10px;
  margin-top: 1rem;
}
.about-header {
  background-image:linear-gradient(263deg, #FA12E3 2%, #7612FA 54%, #12D0FA 100%);
  max-width: 10ch;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.improve-collab {
  background-image: linear-gradient(258deg, #FA12E3 2%, #7612FA 54%, #12D0FA 100%);
  font-size: 40px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.about-image-1 {
  height: 550px;
  width: 900px;
 
}

.companies-bg {
  background-image: url('./assets/companies-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.bring-team-container {
  position: relative;
  width: 100%;
  /* border: 2px solid red; */
  height: 600px;
  /* overflow-x: hidden; */
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 900px;
  background-image: url('../src/assets/bring-team.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 5;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../src/assets/bring-teams-bg.png');
  background-repeat: repeat-x;

}

.bring-teams-text {
  background-image:linear-gradient(14deg, #45C4F9 0%, navy 50%, #d30cbf 100%);
    font-size: 60px;
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    max-width: 13ch;
    text-align: center;
    line-height: 4.5rem;
}
.bring-teams-button {
  font-size: 17px;
  font-weight: 700;
  background: linear-gradient(236deg, #FA12E3 0%, #7612FA 41%, #12D0FA 100%);
  padding: 18px 32px;
  border-radius: 9px;
  color: white;
  width: 40%;
}


.tab-container header {
  background-image:linear-gradient(14deg, #45C4F9 0%, navy 50%, #d30cbf 100%);
  font-size: 60px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  line-height: 4.5rem;
}

.tab-container .tabs .tab {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 187px;
  border-radius: 12px;
  border: 1px solid #ECECFC;
  transition: all ease-out 150ms;
}

.tab-container .tabs .tab.active {
    box-shadow: 10px 10px 40px  rgba(69, 163, 249, 0.10), 0 0 1px rgba(137, 32, 254, 0.65), -10px -10px 40px rgba(255, 11, 229, 0.10), 0 0 1px rgba(255, 200, 0, 0.80);
}

.tabs .tab span {
  font-size: 16px;
  font-weight: 500;
   color:#514B81;
}
.tabs .tab.active span {
  font-size: 17px;
  font-weight: 600;
   color:#292D34;
}


.tab-content {
  min-height: 400px;
  box-shadow: -7px -7px 40px  rgba(69, 163, 249, 0.10), 0 0 1px rgba(137, 32, 254, 0.15), -7px -7px 40px rgba(255, 11, 229, 0.10), 0 0 1px rgba(255, 200, 0, 0.10);
}

.tab-content .text{
  flex: 0 0 60%;

}
.tab-content .solution{
  flex: 0 0 40%;
  background-color: #F8F8FC;

}

.solution-button {
  background:linear-gradient(83deg, #45C4F9 0%, #7D09FF 46%, #FF0BE5 100%) ;
  font-weight: 700;
  border-radius: 9px;
  color: white;
  padding: 16px 38px;
  width: 100%;
}

.fireworks {
  background-image: url('./assets/fireWorks.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
 
}



